################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SubmissionApi/SubmissionApi/obj
/SubmissionApi/SubmissionApi/Properties
/SubmissionApi/SubmissionApi/bin/Debug/netcoreapp2.1
/SubmissionApi/.vs/SubmissionApi/v16
/SubmissionApi/bin/Debug/netcoreapp2.1
/SubmissionApi/obj
/SubmissionApi/Properties
/SubmissionApi/bin/Release
/SubmissionApi/.vs/SubmissionApi/config
/SubmissionApi/LoneAnt
/bin
/LoneAnt
/obj
/.vs/SubmissionApi/v16
/.vs/SubmissionApi/DesignTimeBuild
/.vs/SubmissionApi
/TestResults
/SubmissionAPITests/bin/Debug/net8.0
/SubmissionAPITests/obj
/.vs
/Mandible Tests/MandibleTests/bin/Debug/net8.0
/Mandible Tests/MandibleTests/obj
/Mandible/bin/Debug/net8.0
/Mandible/obj
